<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/authorization.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair Display">
    <title>Authorization</title>
</head>
<body>
<header>
    <a href="{% url 'home' %}">
        <img class="img_logo" src="{% static 'img/logo.png' %}">
    </a>
<nav>
    <ul>
      <li><a href="{% url 'home' %}">О сайте</a></li>
      <li><a href="{% url 'catalog' %}">Каталог</a></li>
      <li><a href="{% url 'authorization' %}">Личный кабинет</a></li>
    </ul>
  </nav>
  <div class="div_header">
    <p class="p_title_header">Авторизация</p>
    <img style="width: 1504px;" src="{% static 'img/header.png' %}">
  </div>
</header>
<main>
      <a class="a_password" href="{% url 'output_password' %}">Забыли пароль?</a>
  <div class="post_auto">
    <p class="text_p">Авторизация</p>  
    <input class="input_login" placeholder="Введите логин" type="text">
    <input class="input_password" type="password"  type="password" id="password-input" placeholder="Введите пароль" name="password">
    <a class="a_text" href="{% url 'personal_account' %}">
      <button class="input_button_login">
        <P class="p_login">Войти</P>
      </button>
    </a>
        <a class="a_text" href="{% url 'registration' %}">
      <button class="input_button_registrator">
        <P class="p_registrator">Регистрация</P>
      </button>
    </a>
  </div>
  {% for i in all_user %}
  <p> {{i}} </p>
  {% endfor %}
</main> 
<footer>
  <p class="p_footer">2025</p>
  </footer>
  <script src="{% static 'js/password.js' %}"></script>
</body>
</html>