<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair Display">
    <title>catalog</title>
</head>
<body>
<header>
    <a href="{% url 'home' %}">
        <img class="img_logo" src="{% static 'img/logo.png' %}">
    </a>
<nav>
    <ul>
      <li><a href="{% url 'home' %}">О сайте</a></li>
      <li><a href="{% url 'catalog' %}">Каталог</a></li>
      <li><a href="{% url 'authorization' %}">Личный кабинет</a></li>
    </ul>
  </nav>
  <div class="div_header">
    <p class="p_title_header">Каталог</p>
    <img style="width: 1504px;" src="{% static 'img/header.png' %}">
  </div>
</header>
<main>
  <form method="POST">
        {% csrf_token %}
  <input type="search" class="input_seach">
  <select class="select_catalog" name="select_catalog">
    <option class="select_option" value="">Категория</option>
  </select>
<div class="container">
  <div class="product">
    <img src="{% static 'img/logo.png' %}">
    <p>Товар</p>
  </div>
<div class="product">
    <img src="{% static 'img/logo.png' %}">
    <p>Товар</p>
  </div><div class="product">
    <img src="{% static 'img/logo.png' %}">
    <p>Товар</p>
  </div>
    <div class="product">
    <img src="{% static 'img/logo.png' %}">
    <p class="product_p">Товар</p>
  </div>
<div class="product">
    <img src="{% static 'img/logo.png' %}">
    <p>Товар</p>
  </div><div class="product">
    <img src="{% static 'img/logo.png' %}">
    <p>Товар</p>
  </div>
</div>
  </form>
</main>
<footer>
  <p class="p_footer">2025</p>
  </footer>
</body>
</html>