<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair Display">
    <title>catalog</title>
</head>
<body>
<header>
    <a href="{% url 'home' %}">
        <img class="img_logo" src="{% static 'img/logo.png' %}">
    </a>
<nav>
    <ul>
      <li><a href="{% url 'home' %}">О сайте</a></li>
      <li><a href="{% url 'catalog' %}">Каталог</a></li>
      <li><a href="{% url 'authorization' %}">Личный кабинет</a></li>
    </ul>
  </nav>
  <div class="div_header">
    <p class="p_title_header">Каталог</p>
    <img style="width: 1504px;" src="{% static 'img/header.png' %}">
  </div>
</header>
<main>
  <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
  <input type="search" name="search" class="input_seach">
  <select class="select_catalog" name="categoryid_id">
    {% for category in categoryes %}
    <option class="select_option" name="categoryid_id" value="{{category.categoryid}}">{{category.categoryname}}</option>
    {%endfor%}
  </select>
  <a href="{% url 'add_product' %}">
<img class="plus_img" src="{% static 'img/Plus.png' %}">
  </a>
<div class="container">
  {% for product in products %}
  <div class="product">
    <a href="{%url 'product' product.productid %}">
    <img class="product_img" src="{% get_media_prefix %}{{product.productid}}.png">
    <p class="product_p">{{product.price}}</p>
    </a>
  </div>
 {% endfor %}
</div>
  </form>
</main>
<footer>
  <p class="p_footer">2025</p>
  </footer>
</body>
</html>