<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/change_product.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair Display">
    <title>Change product</title>
</head>
<body>
<header>
    <a href="{% url 'home' %}">
        <img class="img_logo" src="{% static 'img/logo.png' %}">
    </a>
<nav>
    <ul>
      <li><a href="{% url 'home' %}">О сайте</a></li>
      <li><a href="{% url 'catalog' %}">Каталог</a></li>
      <li><a href="{% url 'authorization' %}">Личный кабинет</a></li>
    </ul>
  </nav>
  <div class="div_header">
    <p class="p_title_header">Добавить/Изменить товар</p>
    <img style="width: 1504px;" src="{% static 'img/header.png' %}">
  </div>
</header>
<main>
   <div class="div_post">
      <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="input-file-list">
            <img class="img_product" src="{% static 'img/logo.png' %}">
      </div>
    <p class="p_id">Индетификатор товара</p>
    <input name="productid" class="input_id" type="text" value="6">
    <p class="p_price">Цена товара</p>
    <input name="price" class="input_price" type="text">
    <p class="p_col">Количество на складе</p>
    <input name="stockquantity" class="input_col" type="text">
    <p class="p_category">Категория</p>
      <select class="select_catalog" name="categoryid_id">
        {% for categorya in categoryes %}
           <option name="categoryid_id" value="{{categorya.categoryid}}" >{{categorya.categoryname}}</option>
          {% endfor %}
        </select>
  <!-- <button type="submit" class="button_add_photo">
    <p class="p_add_photo">Добавить фото</p>
  </button> -->
 	<label class="input-file">
	   	<input type="file" name="image">		
	   	<span>Добавить фото</span>
 	</label>
  
    <button name="save" class="button_add_update_product">
    <p  class="p_add_update_product">Сохранить</p>
  </button>
    </form>
  </div>
</main>
<footer>
  <p class="p_footer">2025</p>
  </footer>
</body>
<script src="{% static 'js/photo.js' %}"></script>
</html>