<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home</title>
</head>
<body>
<header>
    <a href="{% url 'home' %}">
        <img class="img_logo" src="{% static 'img/logo.png' %}">
    </a>
<nav>
    <ul>
      <li><a href="{% url 'home' %}">О сайте</a></li>
      <li><a href="{% url 'catalog' %}">Каталог</a></li>
      <li><a href="{% url 'authorization' %}">Личный кабинет</a></li>
    </ul>
  </nav>
  <div class="div_header">
    <img style="width: 1504px;" src="{% static 'img/header.png' %}">
    <img class="img_header_logo" src="{% static 'img/logo_header.png' %}">
  </div>
</header>
<main>

  <div class="div_post">
    <h1>ТЕКСТ</h1>
  </div>

</main>
<footer>
<p class="p_footer">2025</p>
</footer>
</body>
</html>