<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/order_placing.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair Display">
    <title>Order_placing</title>
</head>
<body>
<header>
    <a href="{% url 'home' %}">
        <img class="img_logo" src="{% static 'img/logo.png' %}">
    </a>
<nav>
    <ul>
      <li><a href="{% url 'home' %}">О сайте</a></li>
      <li><a href="{% url 'catalog' %}">Каталог</a></li>
      <li><a href="{% url 'authorization' %}">Личный кабинет</a></li>
    </ul>
  </nav>
  <div class="div_header">
    <p class="p_title_header">Оформление заказа</p>
    <img style="width: 1504px;" src="{% static 'img/header.png' %}">
  </div>
</header>
<main>
  <div class="div_post_one">
<table>
    <tr>
        <td><p class="p_order">Заказ</p></td>
        <td>  <button class="input_button_product_add"><p class="p_button">Добавить</p></button></td>
        <td>  <button class="input_button_product_delete"><p class="p_button">Удалить</p></button></td>
    </tr>
</table>
  </div>
   <div class="div_post_two">
      <p class="p_adres">Адрес доставки</p>
      <input class="input_adres_text" type="text" placeholder="Введите адрес">
<p class="p_price">Цена</p>
      <select class="select_purchase">
  <option>
    <p class="p_footer">Способо оплаты</p>
  </option>
    <option>
      
  </option>
</select>
   </div>
</main>
<footer>
  <p class="p_footer">2025</p>
  </footer>
</body>
</html>