<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair Display">
    <title>Registration</title>
</head>
<body>
<header>
    <a href="{% url 'home' %}">
        <img class="img_logo" src="{% static 'img/logo.png' %}">
    </a>
<nav>
    <ul>
      <li><a href="{% url 'home' %}">О сайте</a></li>
      <li><a href="{% url 'catalog' %}">Каталог</a></li>
      <li><a href="{% url 'authorization' %}">Личный кабинет</a></li>
    </ul>
  </nav>
  <div class="div_header">
    <p class="p_title_header">Регистрация</p>
    <img style="width: 1504px;" src="{% static 'img/header.png' %}">
  </div>
</header>
<main>
   <div class="post_auto">
    <p class="text_p">Регистрация</p> 
      <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
            <input class="input_login" id="surname" name="firstname" placeholder="Введите вашу фамилию" type="text">
            <input class="input_login" id="name" name="name" placeholder="Введите ваше имя" type="text">
            <input class="input_login" id="patronymic" name="middlename" placeholder="Введите ваше отчество" type="text">
            <input class="input_login" id="phone" name="phone" placeholder="Введите ваш номер телефона" type="text">
            <input class="input_login" id="password" name="password" type="password" placeholder="Введите пароль" name="password">
            
    <input type="checkbox" id="checkbox_contact">
    <p class="p_contact">Согласие на обработку персональных данных</p>
   
      <button name="save" class="input_button_login">
        <P class="p_login">Войти</P>
      </button>
    </a>
      </form>
  </div>
</main>
<footer>
  <p class="p_footer">2025</p>
  </footer>
  <script src="{% static 'js/check_contact.js' %}"></script>
</body>
</html>