html
{
    background-color: #DFD6CD;
}

header
{
    background-color: #DFD6CD;
}
body
{
    background: #DFD6CD;
}

main
{
    height: 1074px;
}

footer
{
    background: #532B00;
    height: 105px;
    font-family: Playfair Display;
}
.p_footer
{
    position: relative;
    top: 44px;
    color: azure;
    font-family: Playfair Display;
    text-align: center;
    font-size: 17px;
}

.img_logo
{
    width: 101px;
    position: relative;
    left: 41px;
    top: 7px;  
}

nav ul {
    display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
        position: relative;
        top: -68px;
  }
  
  nav li {
    margin-right: 142px;
    font-size: 28px;
    font-family: Playfair Display Regular;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
  }

  .div_header
  {
      position: RELATIVE;
      top: -20px;
  }
.p_title_header
{
    font-size: 111px;
    font-family: Playfair Display;
    position: absolute;
    top: 62px;
    left: 431px;
    font-weight: 400;
    color: white;
}
.post_auto
{
width: 45%;
    margin: 0px auto;
    position: relative;
    left: 7px;
    background: white;
    height: 553px;
    border-radius: 32px;
}
.text_p
{
font-size: 38px;
    font-family: Playfair Display;
    position: relative;
    left: 220px;
    top: 36px;
}
.input_login
{
width: 457px;
    height: 10px;
    position: relative;
    left: 79px;
    top: 30px;
    border-radius: 44px;
    border: 5px solid #000000;
    padding: 30px;
    font-size: 26px;
    font-family: Playfair Display;
}

.input_password
{
width: 457px;
    height: 10px;
    position: relative;
    left: 79px;
    top: 61px;
    border-radius: 44px;
    border: 5px solid #000000;
    padding: 30px;
    font-size: 26px;
    font-family: Playfair Display;
    background: url(/view.svg) 0 0 no-repeat;
}

input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center; 
  font-size: 40px;
}

input[type="password"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center; 
  font-size: 40px;
}

.a_password
{
    position: relative;
    left: 826px;
    font-size: 26px;
    font-family: Playfair Display;
    top: 378px;
     z-index: 9999;
     color:  #532B00;
}
.input_button_login
{
display: block;
    margin-left: auto;
    background-color: #532B00;
    width: 518px;
    height: 10px;
    position: relative;
    left: -75px;
    top: 105px;
    border-radius: 44px;
    border: 5px solid #000000;
    padding: 30px;
    font-size: 26px;
    font-family: Playfair Display;
    
}
.p_login
{
    position: relative;
    top: -43px;
        color: #ffffff;
}
.input_button_registrator
 {
    display: block;
    margin-left: auto;
    background-color: #532B00;
    width: 518px;
    height: 10px;
    position: relative;
    left: -75px;
    top: 0px;
    border-radius: 44px;
    border: 5px solid #000000;
    padding: 30px;
    font-size: 26px;
    font-family: Playfair Display;
}

.p_registrator
{
    position: relative;
    top: -43px;
        color: #ffffff;
}
input[type="button"]::-webkit-input-value { /* Chrome/Opera/Safari */
  text-align: center; 
  font-size: 40px;

}
.a_text {
  color: inherit; /* Цвет ссылок становится таким же, как цвет родительского элемента */
  text-decoration: none; /* Убираем подчёркивание */
  background-color: transparent; /* Фон прозрачный, чтобы не выделяться */
  cursor: pointer; /* Оставляем указатель, чтобы было понятно, что ссылка кликабельна */
}

