html
{
    background-color: #DFD6CD;
}

header
{
    background-color: #DFD6CD;
}
body
{
    background: #DFD6CD;
}

main
{
    height: 699px;
}

footer
{
    background: #532B00;
    height: 105px;
    font-family: Playfair Display;
}
.p_footer
{
    position: relative;
    top: 44px;
    color: azure;
    font-family: Playfair Display;
    text-align: center;
    font-size: 17px;
}
.img_logo
{
    width: 101px;
    position: relative;
    left: 41px;
    top: 7px;  
}

nav ul {
    display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
        position: relative;
        top: -68px;
  }
  
  nav li {
    margin-right: 142px;
    font-size: 28px;
    font-family: Playfair Display Regular;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
  }

  .div_header
  {
      position: RELATIVE;
      top: -20px;
  }
.p_title_header
{
    font-size: 150px;
    font-family: Playfair Display;
    position: absolute;
    top: -4px;
    left: 536px;
    font-weight: 400;
    color: white;
}
.div_seach
{
    position: relative;
}

.input_seach   
{
    width: 839px;
    height: 54px;
    position: relative;
    left: 47px;
    border-radius: 39px;
    border: 5px solid #000000;
    top: -4px;
    font-size: 26px;
    font-family: Playfair Display;
    padding: 12px;
}
.select_catalog
{
position: relative;
    left: 56px;
    height: 54px;
    border-radius: 39px;
    border: black;
    width: 391px;
    font-family: Playfair Display;
    font-size: 35px;
    padding: 0px 0px 0px 82px;
    -moz-appearance: none;
    appearance: none;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) #ffffff no-repeat 94% !important;
    border: 5px solid #000000;
}

.select_option
{
        background: #532B00;
    height: 105px;
    font-family: Playfair Display;
    font-size: 23px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
    grid-template-rows: 283px auto;
}
.product
{
    background: #ffffff;
    width: 365px;
    height: 218px;
    border-radius: 29px;
    border: 23px black;
}

.product_p
{
        font-family: Playfair Display;
    font-size: 23px;
    position: relative;
    top: -10px;
    left: -20px;
    text-align: center;
}