html
{
    background-color: #DFD6CD;
}

header
{
    background-color: #DFD6CD;
}
body
{
    background: #DFD6CD;
}

main
{
    height: 360px;
}

footer
{
    background: #532B00;
    height: 105px;
    font-family: Playfair Display;
}
.p_footer
{
    position: relative;
    top: 44px;
    color: azure;
    font-family: Playfair Display;
    text-align: center;
    font-size: 17px;
}
.img_logo
{
    width: 101px;
    position: relative;
    left: 41px;
    top: 7px;  
}

nav ul {
    display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
        position: relative;
        top: -68px;
  }
  
  nav li {
    margin-right: 142px;
    font-size: 28px;
    font-family: Playfair Display Regular;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
  }

  .div_header
  {
      position: RELATIVE;
      top: -20px;
  }
.p_title_header
{
    font-size: 114px;
    font-family: Playfair Display;
    position: absolute;
    top: 60px;
    left: 107px;
    font-weight: 400;
    color: white;
    text-align: center;
    line-height: 144px;
}