html
{
    background-color: #DFD6CD;
}

header
{
    background-color: #DFD6CD;
}
body
{
    background: #DFD6CD;
    
}

main
{
    height: 1185px;
}

footer
{
    background: #532B00;
    height: 105px;
    font-family: Playfair Display;
}
.p_footer
{
    position: relative;
    top: 44px;
    color: azure;
    font-family: Playfair Display;
    text-align: center;
    font-size: 17px;
}
.img_logo
{
    width: 101px;
    position: relative;
    left: 41px;
    top: 7px;  
}

nav ul {
    display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
        position: relative;
        top: -68px;
  }
  
  nav li {
    margin-right: 142px;
    font-size: 24px;
    font-family: Playfair Display Regular;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
  }

  .div_header
  {
      position: RELATIVE;
      top: -20px;
  }
.p_title_header
{
    font-size: 114px;
    font-family: Playfair Display;
    position: absolute;
    top: 60px;
    left: 107px;
    font-weight: 400;
    color: white;
    text-align: center;
    line-height: 144px;
}

.div_post
{
background: white;
    position: relative;
    top: 18px;
    border-radius: 34px;
    height: 734px;
    width: 1444px;
    left: 30px;
}

.img_product
{
 position: relative;
    left: 56px;
    top: 54px;
    height: 424px;
    width: 537px;
    border-radius: 51px;
    border: 5px solid #000000;
}
.p_id
{
    font-family: Playfair Display;
    font-size: 26px;
    position: relative;
    top: -414px;
    left: 699px;
    width: 343px;
}

.p_price
{
font-family: Playfair Display;
    font-size: 26px;
    position: relative;
      top: -469px;
    left: 699px;
    width: 286px;
}
.p_col
{font-family: Playfair Display;font-size: 26px;position: relative;top: -527px;left: 699px;width: 332px;}
.p_category
{font-family: Playfair Display;font-size: 26px;position: relative;top: -586px;left: 699px;width: 332px;}
.input_id
{
width: 457px;
    height: 0px;
    position: relative;
    left: 670px;
    top: -438px;
    border-radius: 44px;
    border: 5px solid #000000;
    padding: 30px;
    font-size: 26px;
    font-family: Playfair Display;
}

.input_price
{width: 457px;height: 0px;position: relative;left: 670px;top: -494px;border-radius: 44px;border: 5px solid #000000;padding: 30px;font-size: 26px;font-family: Playfair Display;}

.input_col
{width: 457px;height: 0px;position: relative;left: 670px;top: -553px;border-radius: 44px;border: 5px solid #000000;padding: 30px;font-size: 26px;font-family: Playfair Display;}

.select_catalog
{position: relative;left: 674px;height: 68px;border-radius: 39px;border: black;width: 524px;font-family: Playfair Display;font-size: 26px;padding: 0px 0px 0px 25px;-moz-appearance: none;appearance: none;background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) #ffffff no-repeat 94% !important;border: 5px solid #000000;top: -625px;}

.select_option
{
        background: #532B00;
    height: 105px;
    font-family: Playfair Display;
    font-size: 26px;
}
.button_add_photo
{position: relative;left: -470px;top: -489px;width: 545px;height: 79px;border-radius: 44px;border: 5px solid #000000;font-size: 26px;font-family: Playfair Display;background: #532B00;color: white;}
.p_add_photo
{
    font-family: Playfair Display;
    font-size: 26px;
    position: relative;
     top: -14px;
    color: #ecd9bb;
}

.button_add_update_product
{position: relative;left: 55px;top: -481px;width: 545px;height: 85px;border-radius: 44px;border: 5px solid #000000;font-size: 26px;font-family: Playfair Display;background: #532B00;color: white;}

.p_add_update_product
{
    font-family: Playfair Display;
    font-size: 27px;
    position: relative;
    top: -12px;
    color: #ecd9bb;
}


.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 27px;
    vertical-align: middle;
    color: #ecd9bb;
    text-align: center;
    border-radius: 39px;
    background-color: #532B00;
    line-height: 22px;
    height: 77px;
    padding: 20px 63px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
    left: -475px;
    top: -491px;
    width: 552px;
    border: 5px solid #000000;
    font-family: Playfair Display;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}