html
{
    background-color: #DFD6CD;
}

header
{
    background-color: #DFD6CD;
}
body
{
    background: #DFD6CD;
}

main
{
    height: 360px;
}

footer
{
    background: #532B00;
    height: 105px;
    font-family: Playfair Display;
}
.p_footer
{
    position: relative;
    top: 44px;
    color: azure;
    font-family: Playfair Display;
    text-align: center;
    font-size: 17px;
}
.img_logo
{
    width: 101px;
    position: relative;
    left: 41px;
    top: 7px;  
}

nav ul {
    display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
        position: relative;
        top: -68px;
  }
  
  nav li {
    margin-right: 142px;
    font-size: 28px;
    font-family: Playfair Display;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
  }


.img_header_logo
{
    position: relative;
    left: 516px;
    bottom: 474px;
    width: 534px;
}

.div_header
{
    position: RELATIVE;
    top: -20px;
}

.div_post
{
    background: white;
    position: relative;
    top: -475px;
    border-radius: 34px;
    height: 734px;
    width: 1444px;
    left: 30px;
}