html
{
    background-color: #DFD6CD;
}

header
{
    background-color: #DFD6CD;
}
body
{
    background: #DFD6CD;
}

main
{
    height: 1074px;
}

footer
{
    background: #532B00;
    height: 105px;
    font-family: Playfair Display;
}
.p_footer
{
    position: relative;
    top: 44px;
    color: azure;
    font-family: Playfair Display;
    text-align: center;
    font-size: 17px;
}
.img_logo
{
    width: 101px;
    position: relative;
    left: 41px;
    top: 7px;  
}

nav ul {
    display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
        position: relative;
        top: -68px;
  }
  
  nav li {
    margin-right: 142px;
    font-size: 28px;
    font-family: Playfair Display Regular;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
  }

  .div_header
  {
      position: RELATIVE;
      top: -20px;
  }
.p_title_header
{
    font-size: 111px;
    font-family: Playfair Display;
    position: absolute;
    top: 85px;
    left: 330px;
    font-weight: 400;
    color: white;
}

.div_post
{
background: white;
    position: relative;
    top: 18px;
    border-radius: 34px;
    height: 734px;
    width: 1444px;
    left: 30px;

}
table
{
width: 1445px;
    position: relative;
    top: 10px;
}
table, th, td {
   border: 2px solid rgb(140 140 140);
   border-radius: 24px;
   
}
th
{
height: 99px;
    font-size: 43px;
    font-family: Playfair Display Regular;
    font-weight: normal;
    width: 367px;
        
}
.text_p
{
font-size: 38px;
    font-family: Playfair Display;
    position: relative;
    left: 15px;
    top: 32px;
    text-align: center;
}