html
{
    background-color: #DFD6CD;
}

header
{
    background-color: #DFD6CD;
}
body
{
    background: #DFD6CD;
}

main
{
    height: 360px;
}

footer
{
    background: #532B00;
    height: 105px;
    font-family: Playfair Display;
}
.p_footer
{
    position: relative;
    top: 44px;
    color: azure;
    font-family: Playfair Display;
    text-align: center;
    font-size: 17px;
}
.img_logo
{
    width: 101px;
    position: relative;
    left: 41px;
    top: 7px;  
}

nav ul {
    display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
        position: relative;
        top: -68px;
  }
  
  nav li {
    margin-right: 142px;
    font-size: 28px;
    font-family: Playfair Display Regular;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
  }

  .div_header
  {
      position: RELATIVE;
      top: -20px;
  }
.p_title_header
{
    font-size: 130px;
    font-family: Playfair Display;
    position: absolute;
    top: 44px;
    left: 589px;
    font-weight: 400;
    color: white;
}

.div_post
{
background: white;
    position: relative;
    top: 18px;
    border-radius: 34px;
    height: 734px;
    width: 1444px;
    left: 30px;
}

.img_product
{
    position: relative;
    left: 34px;
    top: 54px;
    height: 424px;
    width: 680px;
    border-radius: 51px;
    border: 5px solid #000000;
}

.input_button_product
{
display: block;
    margin-left: auto;
    background-color: #532B00;
    width: 518px;
    height: 10px;
    position: relative;
    left: -75px;
    top: 53px;
    border-radius: 44px;
    border: 5px solid #000000;
    padding: 30px;
    font-size: 26px;
    font-family: Playfair Display;
    
}